@import url('/assets/css/internal.css');

body {
    background-color: #000;
}
body::before {
    content: "";
    background-image: url('/assets/images/fellowship/background-1.jpg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
}